// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

// Import the full bootstrap colour palette
@import "bootstrap-colours-full";

pre {
  @extend .mb-0;
}

// Utility classes
.panel-white {
  @extend .bg-white;
  @extend .bg-opacity-75;
  @extend .rounded-4;
  @extend .p-4;
}

// Custom styles
.logo {
  height: 1.5em;
  width: 1.5em;
  border-radius: 5px;
  display: inline-block;

  // gradient background
  background: linear-gradient(45deg, #ff6ec4, #7873f5);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.palette {
  @extend .panel-white;

  position: relative;
  line-height: 0.8em;
  width: 11 * 2em; // multiple swatches of the same colour

  .row {
    @extend .d-flex;
    @extend .align-items-center;
  }
}

.label {
  display: inline-block;
  width: 6em;
}

.swatch {
  @extend .d-inline-block;
  @extend .rounded;
  @extend .shadow;

  height: 2em;
  width: 2em;
  margin: 0.05em;
  cursor: pointer;

  // Circular positioning
  position: absolute;
  left: 50%;
  top: 50%;
  transform: rotate(calc(var(--angle, 0deg) - 90deg)) translateX(calc(var(--radius, 0em) * 2));
  // rotate(calc(-1 * var(--angle, 0deg) ));

  // &:hover {
  //   transform: scale(1.1);
  // }
}

.swatch-lg {
  @extend .d-inline-block;
  @extend .mx-3;
  @extend .rounded-3;
  @extend .shadow;

  height: 4em;
  width: 4em;

  &:hover {
    transform: scale(1.1);
  }
}
